[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = https://github.com/wincent/command-t.git
[submodule ".vim/bundle/iceberg.vim"]
	path = .vim/bundle/iceberg.vim
	url = git@github.com:cocopon/iceberg.vim.git
[submodule ".vim/bundle/L9"]
	path = .vim/bundle/L9
	url = git@github.com:vim-scripts/L9.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
